#pictureShowFunction {
    width: 60%;
    margin: auto;
}

.imagesChange {
    display: inline-block;
    width: 31%;
    border: 0px solid;
    background-color: transparent;
    outline: none;
}

.imagesChange:hover {
    cursor: pointer;
}


.changeShowDom {
    display: inline-block;
    width: 10%;
    border: 0px solid;
    background-color: transparent;
    outline: none;
}

.changeShowDom:hover {
    cursor: pointer;
}

.changeShow {
    width: 80%;
    vertical-align: middle;
}

.mainShow {
    width: 75%;
    vertical-align: middle;
}

.secondaryShow {
    width: 100%;
}